<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Todo List</title>
</head>
<body>
    <div id="app" class="container">
        <img id="logo" src="https://www.boolean.careers/images/misc/logo.png" alt="logo boolean">
        <div class="input_container">
            <input type="text" name="addTodo" placeholder="Scrivi l'elemento che vuoi aggiungere" v-model="newElement" @keyup.enter="addElement">
            <button @click="addElement">Aggiungi elemento</button>
        </div>
        <div class="todo_container">

            <ul v-if="todoElements.length > 0">
                <li v-for="(element, index) in todoElements"> 
                    {{ element }} 
                    <i class="far fa-times-circle" @click="removeElement(index)"></i>
                </li>
            </ul>

            <h2 v-else>La lista è vuota</h2>
        </div>
    </div>

    <script src="master.js"></script>
</body>
</html>